*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.container{
    background-color: rgb(238, 234, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
}

.modalForm{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(250, 224, 193);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form input{
    height: 40px;
    border: none;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
}

button{
    height: 40px;
    width: 100px;
    border: 1px solid grey;
    background-color: aqua;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
}
.show-Modal-Btn{
    margin-bottom: 20px;
    width: 100%;
}